<div class="forumbg">
    <div class="inner">
        <ul class="topiclist">
            <li class="header">
                <dl class="icon">
                    <dt><div class="list-inner">{L_ACTIVE_TOPICS}</div></dt>
                    <dd class="posts">{L_REPLIES}</dd>
                </dl>
            </li>
        </ul>
        <ul class="topiclist topics">
            <!-- BEGIN active_topics -->
            <li class="row bg1">
                <dl class="icon topic_unread">
                    <dt>
                        <a href="{active_topics.URL}" class="icon-link"></a>
                    <div class="list-inner">
                        <a href="{active_topics.URL}" class="topictitle">{active_topics.TITLE}</a>
                        <br>{active_topics.DATE}</a>
                    </div>
                    </dt>
                    <dd class="posts">{active_topics.COMMENTS}</dd>
                </dl>

            </li>
            <!-- END active_topics -->
        </ul>
    </div>
</div>