<!-- IF S_GAME_INFO -->
<div class="forumbg">
	<div class="inner">
		<ul class="topiclist">
			<li class="header">
				<dl class="icon">
					<dt><div class="list-inner">{L_GAME_INFO}</div></dt>
				</dl>
			</li>
		</ul>
		<ul class="topiclist forums">
			<li>
				<div>
					<ul>
						<li>
							<dt><strong>{L_GAME_NAME}{L_COLON}</strong>
							<dd>{GAME_NAME}</dd>
						</li>
						<li>
							<dt><strong>{L_GAME_DEVELOPER}{L_COLON}</strong></dt>
							<dd>{GAME_DEVELOPER}</dd>
						</li>
						<li>
							<dt><strong>{L_GAME_PUBLISHER}{L_COLON}</strong></dt>
							<dd>{GAME_PUBLISHER}</dd>
						</li>
						<li>
							<dt><strong>{L_GAME_GENRE}{L_COLON}</strong></dt>
							<dd>{GAME_GENRE}</dd>
						</li>
						<li>
							<dt><strong>{L_GAME_RELEASE}{L_COLON}</strong></dt>
							<dd>{GAME_RELEASE}</dd>
						</li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
</div>
<!-- ENDIF -->