<div class="forumbg">
	<div class="inner">
		<ul class="topiclist">
			<li class="header">
				<dl class="icon">
					<dt><div class="list-inner">{L_LINKS}</div></dt>
				</dl>
			</li>
		</ul>
		<ul class="topiclist forums">
			<li>
				<div>
					<ul class="links">
						<li>
							<a class="facebook" href="https://www.facebook.com/home.php?sk=group_207252265954096" title="Facebook"></a>
						</li>
						<li>
							<a class="youtube" href="https://www.youtube.com/user/Strategiezone" title="Youtube"></a>
						</li>
						<li>
							<a class="steam" href="http://steamcommunity.com/groups/Stratzone" title="Steam"></a>
						</li>
					</ul>
					<ul class="donate">
						<a href="{U_HOME}/forum/page/spenden">SPENDEN</a>
					</ul>
				</div>
			</li>
		</ul>
	</div>
</div>