<div class="forumbg forumbg-table">
    <div class="inner">
        <table class="table1 show-header responsive" id="team">
            <thead>
            <tr>
                <th class="name">{L_NEW_USERS}</th>
                <th class="info">{L_POSTS}</th>
            </tr>
            </thead>
            <tbody>
            <!-- BEGIN new_user -->
            <tr class="bg1">
                <td>{new_user.USERNAME_FULL}</td>
                <td class="info">{new_user.USER_POSTS}</td>
            </tr>
            <!-- END new_user -->
            </tbody>
        </table>
    </div>
</div>