<div class="forumbg forumbg-table">
    <div class="inner">
        <table class="table1 show-header responsive" id="team">
            <thead>
            <tr>
                <th class="name">{L_THE_TEAM}</th>
                <th class="info">{L_GROUP}</th>
            </tr>
            </thead>
            <tbody>
                <!-- BEGIN team -->
                <tr class="bg1">
                    <td>{team.USERNAME_FULL}</td>
                    <td class="info">
                        <a style="font-weight: bold; color: #{team.GROUP_COLOUR}" href="{team.U_GROUPS}">{team.GROUP_NAME}</a>
                    </td>
                </tr>
                <!-- END team -->
            </tbody>
        </table>
    </div>
</div>