<!-- BEGIN announcements -->
<div class="panel">
    <div class="inner">
        <h2 class="page_title">{announcements.TITLE}</h2>

        <div class="hp_content">
            {announcements.TEXT}
        </div>
        <div class="" style="border-top: 1px solid #380d0d; clear: both; padding: 3px 0; margin-top: 10px">
            <span style="float: left">{announcements.DATE}</span>
            <span style="float: right"><a href="{announcements.URL}">{L_COMMENTS} ({announcements.COMMENTS})</a></span>
        </div>
    </div>
</div>
<!-- END announcements -->