<!-- INCLUDECSS @tacitus89_homepage/../theme/homepage.css -->
<!-- INCLUDE overall_header.html -->
<h2 class="page_title">{HP_TITLE}</h2>

<!-- BEGIN forums -->
<div class="forumbg" style="">
    <div class="inner">

        <ul class="topiclist forums">
            <li>
                <a class="link" href="{forums.URL}"><img src="{forums.IMAGE}" /><br />{forums.NAME}</a>

                <div>
                    <!-- BEGIN forums.subforums -->
                        <a class="link" href="#">{forums.subforums.NAME}</a>
                    <!-- END forums.subforums -->
                </div>

            </li>

        </ul>
    </div>
</div>
<!-- END forums -->
<br style="clear:both" />



<!-- INCLUDEJS @tacitus89_homepage/jquery.matchHeight.js -->
<!-- INCLUDE overall_footer.html -->
<script>
    $(function() {
        $('.forumbg').matchHeight();
    });
</script>