<!-- INCLUDE overall_header.html -->

<div class="panel">
    <div class="inner">
        <h2 class="page_title">{HP_TITLE}</h2>

        <div class="content">
            <ul style="list-style-type: none;">
                <!-- BEGIN forums -->
                <li style="width: 32%;float: left;text-align: center">
                    <a href="{forums.URL}"><img src="{forums.IMAGE}" /><br />{forums.NAME}</a>
                </li>
                <!-- END forums -->
            </ul>
        </div>
    </div>
</div>

<!-- INCLUDE overall_footer.html -->
