<!-- INCLUDECSS @tacitus89_homepage/../theme/homepage.css -->
<!-- INCLUDE overall_header.html -->

<div class="hp_content">
    <div class="panel">
        <div class="inner">
            <h2 class="page_title">{HP_TITLE}</h2>

            <div class="hp_content">
                {HP_CONTENT}
            </div>
        </div>
    </div>
</div>

<div class="sidebar">

    <!-- IF S_GAME_INFO -->
    <div class="forumbg">
        <div class="inner">
            <ul class="topiclist forums">
                <li class="header">
                    <dl class="icon">
                        <dt><div class="list-inner">Themen</div></dt>
                        <dd class="posts">Antworten</dd>
                    </dl>
                </li>
                <li>
                    <div>
                        <ul>
                            <li>Name: {GAME_NAME}</li>
                            <li>Entwickler: {GAME_DEVELOPER}</li>
                            <li>Publisher: {GAME_PUBLISHER}</li>
                            <li>Genre: {GAME_GENRE}</li>
                            <li>Release: {GAME_RELEASE}</li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- ENDIF -->

    <!-- IF .gallery_images -->
    <div class="forumbg">
        <div class="inner">
            <ul class="topiclist forums">
                <li>
                    <div>
                        <!-- BEGIN gallery_images -->
                        <img src="{gallery_images.MINI}" />
                        <!--<a class="link" href="{forums.URL}"><img src="{forums.IMAGE}" /><br />{forums.NAME}</a>-->
                        <!-- END gallery_images -->
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- ENDIF -->

    <!-- IF .forums -->
    <div class="forumbg">
        <div class="inner">
            <ul class="topiclist">
                <li class="header">
                    <dl class="icon">
                        <dt><div class="list-inner">{L_SUBFORUMS}</div></dt>
                    </dl>
                </li>
            </ul>
            <ul class="topiclist forums">
                <li>
                    <div>
                        <!-- BEGIN forums -->
                        <a class="link" href="{forums.URL}"><img src="{forums.IMAGE}" /><br />{forums.NAME}</a>
                        <!-- END forums -->
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- ENDIF -->
</div>

<br style="clear:both" />

<!-- INCLUDE overall_footer.html -->
