<!-- INCLUDECSS @tacitus89_homepage/../theme/homepage.css -->
<!-- INCLUDECSS @tacitus89_homepage/../theme/jquery.fancybox.css -->
<!-- INCLUDECSS @tacitus89_homepage/../theme/jquery.fancybox-buttons.css -->
<!-- INCLUDECSS @tacitus89_homepage/../theme/jquery.fancybox-thumbs.css -->

<!-- INCLUDEJS @tacitus89_homepage/jquery.fancybox.pack.js -->
<!-- INCLUDEJS @tacitus89_homepage/jquery.fancybox-buttons.js -->
<!-- INCLUDEJS @tacitus89_homepage/jquery.fancybox-thumbs.js -->
<!-- INCLUDEJS @tacitus89_homepage/homepage_forum.js -->
<!-- INCLUDE overall_header.html -->

<div class="hp_content">
    <div class="panel">
        <div class="inner">
            <h1 class="page_title"><a href="{U_FORUM}">{HP_TITLE}</a></h1>

            <div class="hp_text">
                {HP_CONTENT}
            </div>
        </div>
    </div>
</div>

<div class="sidebar">
	<!-- INCLUDE widgets/hp_game_info.html -->
    <!-- INCLUDE widgets/hp_gallery.html -->
	<!-- INCLUDE widgets/hp_subforums.html -->
</div>

<br style="clear:both" />

<!-- INCLUDE overall_footer.html -->