<!-- INCLUDECSS @tacitus89_homepage/../theme/homepage.css -->
<!-- INCLUDE overall_header.html -->

<div class="panel">
    <div class="inner">
        <h2 class="page_title">{HP_TITLE}</h2>

        <div class="hp_content">
            {HP_CONTENT}
        </div>
    </div>
</div>

<div class="forumbg sidebar">
    <div class="inner">

        <ul class="topiclist forums">
            <li>
                <div>
                    <!-- BEGIN forums -->
                    <a class="link" href="#"><img src="{forums.IMAGE}" /><br />{forums.NAME}</a>
                    <!-- END forums -->
                </div>

            </li>

        </ul>
    </div>
</div>

<br style="clear:both" />

<!-- INCLUDE overall_footer.html -->
