<!-- INCLUDECSS @tacitus89_homepage/../theme/homepage.css -->
<!-- INCLUDE overall_header.html -->
<h2 class="page_title">{HP_TITLE}</h2>

<!-- HTML5-Banner Begin -->
	<div style="margin: 0 auto 10px auto;width:728px;height:90px">
		<iframe src="https://www.strategie-zone.de/forum/images/werbung/tww/index.html?clicktag=http%3A%2F%2Ftotalwar.kochmedia.com" border="0" scrolling="no" allowtransparency="true" width="100%" height="100%" style="border:0;"></iframe>
	</div>
<!-- HTML5-Banner End -->

<div class="hp_content">
    <!-- INCLUDE widgets/hp_announcements.html -->
</div>

<div class="sidebar">
	<!-- INCLUDE widgets/hp_active_topics.html -->
    <!-- INCLUDE widgets/hp_topic_news.html -->
	<!-- INCLUDE widgets/hp_user_online.html -->
    <!-- INCLUDE widgets/hp_active_user.html -->
	<!-- INCLUDE widgets/hp_new_user.html -->
    <!-- INCLUDE widgets/hp_team.html -->
	<!-- INCLUDE widgets/hp_links.html -->
	<!-- INCLUDE widgets/hp_teamspeak.html -->
</div>

<br style="clear:both" />

<!-- INCLUDE overall_footer.html -->