<!DOCTYPE html>
<html dir="{S_CONTENT_DIRECTION}" lang="{S_USER_LANG}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1" />
{META}
<title>{PAGE_TITLE} - {SITENAME}</title>

<!-- IF U_CANONICAL -->
	<link rel="canonical" href="{U_CANONICAL}">
<!-- ENDIF -->

<!--
	phpBB style name: prosilver
	Based on style:   prosilver (this is the default phpBB3 style)
	Original author:  Tom Beddard ( http://www.subBlue.com/ )
	Modified by:
-->

<link href="{T_STYLESHEET_LINK}" rel="stylesheet">
<link href="{T_STYLESHEET_LANG_LINK}" rel="stylesheet">
<link href="/forum/{T_THEME_PATH}/responsive.css?assets_version={T_ASSETS_VERSION}" rel="stylesheet" media="all and (max-width: 700px)">
<link href="{T_THEME_PATH}/markitup_style.css?assets_version={T_ASSETS_VERSION}" rel="stylesheet">
<link href="{T_THEME_PATH}/bbcode_style.css?assets_version={T_ASSETS_VERSION}" rel="stylesheet">
<link href="{T_THEME_PATH}/farbtastic.css?assets_version={T_ASSETS_VERSION}" rel="stylesheet">

<!--[if lte IE 9]>
	<link href="{T_THEME_PATH}/tweaks.css?assets_version={T_ASSETS_VERSION}" rel="stylesheet">
<![endif]-->

<!-- EVENT overall_header_head_append -->

{$STYLESHEETS}

<!-- EVENT overall_header_stylesheets_after -->

</head>
<body id="phpbb" class="nojs notouch section-{SCRIPT_NAME} {S_CONTENT_DIRECTION} {BODY_CLASS}">

<div id="wrap">
	<a id="top" class="anchor" accesskey="t"></a>
	<div id="page-header">
		<div class="headermenu">
			<div class="headerbar" role="banner">
				<h1><a id="logo" href="{U_HOME}" title="{L_SITE_HOME}">{SITENAME}</a></h1>
				<p class="skiplink"><a href="#start_here">{L_SKIP}</a></p>
			</div>
			
			<div id="phpbb-navbar" class="phpbb-navbar">
				<div class="nav-button but-menu"><a id="phpbb-menu-toggle" title="Show menu" href="#">Menu</a></div>
				
				<!-- IF S_DISPLAY_SEARCH and not S_IN_SEARCH -->
				<div id="searchbox" class="search-box" role="search">
					<form action="{U_SEARCH}" method="get" id="search">
					<fieldset>
						<input name="keywords" id="keywords" type="search" maxlength="128" title="{L_SEARCH_KEYWORDS}" class="inputbox search tiny" size="20" value="{SEARCH_WORDS}" placeholder="{L_SEARCH_MINI}" />
						<button class="button icon-button search-icon" type="submit" title="{L_SEARCH}">{L_SEARCH}</button>
						<a href="{U_SEARCH}" class="button icon-button search-adv-icon" title="{L_SEARCH_ADV}">{L_SEARCH_ADV}</a>
						{S_SEARCH_HIDDEN_FIELDS}
					</fieldset>
					</form>
				</div>
				<!-- ENDIF -->
				<ul id="phpbb-menu" class="phpbb-menu">
					<li class="nav-button but-customise"><a href="{U_INDEX}" title="{L_INDEX}">Gesamtforum</a></li>
                    <!-- BEGIN categories -->
						<li class="nav-button but-customise"><a href="{categories.URL}">{categories.NAME}</a>
                        <!-- IF categories.forums -->
                            <div class="sub-menu" style="display: none;">
                            <!-- BEGIN categories.forums -->
                                <ul>
                                    <li><h4><a href="{categories.forums.URL}">{categories.forums.NAME}</a></h4>
                                        <p><a href="{categories.forums.URL}">{categories.forums.DESC}</a></p>
                                    </li>
                                </ul>
                            <!-- END categories.forums -->
                            </div>
                        <!-- ENDIF -->
                        </li>
                    <!-- END categories -->
					<li class="nav-button but-customise"><a class="" href="#">Clans</a>
						<div class="sub-menu" style="display: none;">
							<ul>
								<li><h4><a class="" href="https://www.strategie-zone.de/forum/viewforum.php?f=390">Die Ketten-ZONIS</a></h4>
								<p><a class="" href="https://www.strategie-zone.de/forum/viewforum.php?f=390">World of Tanks</a></p>
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<a id="start_here" class="anchor"></a>
	<div id="page-body" role="main">

