.category {
    width: 30%;
    float: left;
    text-align: center;
    margin-left: 1%;
    clear: none;
}

ul.topiclist dt {
    margin-right: -100px;
}

ul.topiclist dt .list-inner {
    margin-right: 100px;
}

.link {
    display: block;
    border-top: #340c0c 1px solid;
    padding: 5px 0;
    text-align: center;
}

.link:hover {
    background-color: #c1ac80;
}

.inner, .forums {
    height: 100%;
}

.hp_text {
    font-size: 1.3em;
}

.panel {
    margin: 0 15px 20px 0;
}

.hp_content {
    width: 74%;
    float: left;
    margin-top: 10px;
}

.sidebar {
    float: right;
    width: 26%;
}